@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

$background: #19181a;

body {
    font-family: "Roboto", sans-serif;
    background: $background;
    color: whitesmoke;
    text-align: center;

    #container {
        padding: 15px;
    }

    h1 {
        margin: 0;
        font-weight: 400;
    }

    p {
        margin: 0;
        font-weight: 300;
    }
    
    .header{
        background: lighten($background, 3%);
        text-align: center;
        margin: 10px 0;
    }
    
    #button {
        font-size: 0.9em;
        background: #479761;
        margin: 0 5px 0 0;
        padding: 10px 10px;
        border-radius: 5px;
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
    }

    #song {
        margin: 20px auto;

        h1 {
            margin: 5px 0;
        }

        img {
            width: 250px;
        }

        #text {
            margin: 5px 0;
        }
    }
}